.headerGoal {
    padding: 5px;
    gap: 5px;
    display: flex;
    flex-wrap: nowrap;
    border: 1px solid rgb(57, 255, 20);
    margin: 10px;
    border-radius: 10px;
    font-size: 13px;
}

.gtitle {
    padding: 8px;
    font-size: 14px;
    &.red{
        margin-left: 15px;
    }
}

.blue {
    color: #7bc4fe;
}
.red{
    color: #fd634e;
}

.green{
    color: #45a822;
}
.orange{
    color: #e4bc56;
}

.tac{
    text-align: center;
    margin: auto;
    font-size: 13px;
    &.fs13 {
        div {
            font-size: 13px;
        }
    }
}
.pad0 {
    padding: 0 !important;
}