.headerGoal {
    padding: 5px;
    gap: 5px;
    display: flex;
    flex-wrap: nowrap;
    border: 1px solid rgb(57, 255, 20);
    margin: 5px;
    border-radius: 3px;
    font-size: 13px;
}

.gtitle {
    padding: 8px;
    font-size: 14px;
    font-weight: 600;
    &.red{
        margin-left: 15px;
    }
}
.mAuto { margin: auto 0}

.blue {
    @extend .mAuto;
    color: #7bc4fe;
}
.red{
    @extend .mAuto;
    color: #fd634e;
}
.green{
    @extend .mAuto;
    color: #45a822;
}
.orange{
    @extend .mAuto;
    color: #e4bc56;
}

.tac{
    text-align: center;
    margin: auto;
    font-size: 13px;
    &.fs13 {
        div {
            font-size: 13px;
        }
    }
}
.pad0 {
    padding: 0 !important;
}