.ecoChartTooltip {
    background-color: #7C7C7C;
    padding: 3px 5px;
    border-radius: 5px;
    width: 450px;

    .megaTitleChart {
        color: white;
       font-style: italic;
        text-shadow: 0px 1px black;
        padding-bottom: 5px;
        background-color: #4cb242;
        position: absolute;
        width: 30%;
        left: -5px;
        top: -5px;
        padding-left: 10px;
        border-radius: 5px;
    }
    .titleChart {
        color: white;
        font-style: italic;
        text-align: center;
        text-shadow: 0px 1px black;
        border-bottom: 1px solid;
        padding-bottom: 5px;
    }
    .bodyChart{
        color: white;
        display: flex;
        justify-content: space-between;
        margin: 3px 0;

        .bodyKey {
            padding: 3px 2px;
        }

        .bodyVal {
            border-bottom: .1px dashed;
            /*text-shadow: 0px 1px black;*/
            float: right;
        }
    }

}

.ecoDetails {
    margin-top: 15px;
    .month {
        text-align: center;
        font-size: 50px;
        margin-bottom: 25px;
        font-style: italic;
    }
    .header{
        display: flex;
        align-items: flex-start;
        height: 100%;
        /*color: #a7a7a7;*/
        color: #e4e4e4;
    }

    .headBlock {
        width: 22%;
    }
    .headBlockItem {
        padding: 7px;
        text-align: center;
    }
    .headBG{
        /*background-color: #3fb329;*/
        background-color: rgb(23, 23, 23);
        margin-bottom: 0px;
        color: #a7a7a7;
    }
    .lineBG{
        border: 1px solid #80808045;
    }

    .fb33 {
        flex-basis: 33%;
    }
    .fb49 {
        flex-basis: 49%;
    }
    .flexYear {
        /*flex: 0 5 150px;*/
        width: 10%;
        text-align: center;
    }
}

.xAxisHover {
    &:hover {
        font-size: 17px;
        text-shadow: 1px 5px 10px #ffffff;
        letter-spacing: 1px;
    }
}

.flexItem {
    display: flex;
    justify-content: space-around;
    .flexL {
        border-right: 1px solid #5c5c5c;
        width: 49%;
    }
    .flexR {
        width: 49%;
    }
}