.chartTooltipTitle {
    text-shadow: 0px 1px black;
    .head {
        text-align: center;
        border-bottom: 1px solid;
        padding-bottom: 4px;
    }
    span {
        float: right;
        border-bottom: .1px dashed;
    }
}


.realizationFilters {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .searchFilter {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        .objects {
            padding-bottom: 5px;
        }
    }
    .dark {
        color: #9c9c9c !important;
        border: 1px solid #9c9c9c !important;
        &.yellow.active {
            color: #fdfd00 !important;
            border: 1px solid #fdfd00 !important;
        }
        &.green.active {
            color: #17f82f !important;
            border: 1px solid #17f82f !important;
        }
        &.red.active {
            color: #f60000 !important;
            border: 1px solid #f60000 !important;
        }
        &.reset.active {
            color: #ffffff !important;
            border: 1px solid #ffffff !important;
        }
    }
    .light {
        color: #737373 !important;
        border: 1px solid #737373 !important;
        &.yellow.active {
            color: #f6e69c !important;
            border: 1px solid #f6e69c !important;
        }
        &.green.active {
            color: #61ce95 !important;
            border: 1px solid #61ce95 !important;
        }
        &.red.active {
            color: #ef7065 !important;
            border: 1px solid #ef7065 !important;
        }
        &.reset.active {
            color: #8690a3 !important;
            border: 1px solid #8690a3 !important;
        }
    }

}

/*slider*/
.center {
    .slick-next:before,
    .slick-prev:before {
        /*color: #2db432 !important;*/
        color: #b1b1b1  !important;
    }
}




