.chartTooltipTitle {
    text-shadow: 0px 1px black;
    .head {
        text-align: center;
        border-bottom: 1px solid;
        padding-bottom: 4px;
    }
    span {
        float: right;
        border-bottom: .1px dashed;
    }
}