.chartTooltipTitle {
    text-shadow: 0px 1px black;
    .head {
        text-align: center;
        border-bottom: 1px solid;
        padding-bottom: 4px;
    }
    span {
        float: right;
        border-bottom: .1px dashed;
    }
}


.realizationFilters {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .searchFilter {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        .objects {
            padding-bottom: 5px;
        }
    }


}

/*slider*/
.center {
    .slick-next:before,
    .slick-prev:before {
        /*color: #2db432 !important;*/
        color: #b1b1b1  !important;
    }
}


.f1 {
    display: flex;
    flex-flow: row nowrap;
    gap: 50px;
    margin-bottom: 3px;
    .f2{
        width: 50px;
        text-align: center;
    }
    .f3{
        flex-grow: 2;
        background: aqua;
        text-align: center;
    }
    .f4{
        flex-grow: 2;
        background: red;
        text-align: center;
    }
    .f5{
        flex-grow: 2;
        text-align: center;
        background: green;
        text-align: center;
    }
    .f6{
        flex-grow: 2;
        background: gold;
        text-align: center;
    }
    .f7{
        flex-grow: 2;
        background: fuchsia;
        text-align: center;
    }
}