.econMain {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 20px;
    .ecoBlocks {
        flex-basis: 170px;
        padding-top: 15px;
        .ecoDataDate {
            display: flex;
            justify-content: center;
            padding: 25px;
            color: #0a8016;
            font-size: 20px;
            font-weight: 600;
            border: 1px solid #454444;
            border-radius: 10px;
            margin-bottom: 10px;
        }
        .ecoDataNum {
            margin-bottom: 10px;
            padding: 10px;
            border: 1px solid;
            border-radius: 10px;
            font-size: 14px;
            .ecoDataTitle {
                text-align: center;
                margin-bottom: 5px;
            }
            span {
                float: right;
            }
            .ecoDataCurrentMonth {
                font-weight: 600;
                color: #4cb242;
            }
        }
    }
    .ecoBlocks2 {
        flex-basis: calc(100% - 170px);
    }


}

/*.highcharts-exporting-group {
    color: #17fa2f !important;
    border: 1px solid #0a8016;
    box-shadow: 0px 0px 15px #17f82f;
}*/

/*
.ecoLegend {
    color: #0a8016;
}*/
