.modalBtn {
  position: absolute;
  right: -37px;
  top: -37px;
}

.modalBody2{
  font-size: 0.875rem;
}

code {
  background-color: #f7f7f7;
  padding: 10px 5px;
  width: 100%;
  color: grey;
  border-radius: 4px;
  display: block;
}
